name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push Backend Image
      run: |
        docker build -t godwin9153/mean-backend:latest ./backend
        
        for i in 1 2 3; do
          docker push godwin9153/mean-backend:latest && break || sleep 10
        done

    - name: Build and Push Frontend Image
      run: |
        docker build -t godwin9153/mean-frontend:latest ./frontend
        
        for i in 1 2 3; do
          docker push godwin9153/mean-frontend:latest && break || sleep 10
        done

    - name: Decode SSH Key
      run: |
        echo "${{ secrets.EC2_SSH_KEY }}" | base64 -d > private_key.pem
        chmod 600 private_key.pem

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key_path: private_key.pem
        script: |
          if [ ! -d "mean-devops-assignment" ]; then
            git clone https://github.com/Godwin4321/mean-devops-assignment.git
          fi
          cd mean-devops-assignment
          docker compose pull
          docker compose up -d